.logo {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    column-gap: 85px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.first-line {
    color: #fb9c06;
    font-weight: bold;
    font-size: 25px;
}

.second-line {
    color: #6e6d6b;
    text-transform: uppercase;
    font-size: 25px;
}
