// body * {
//   outline: 1px solid lightgrey;
// }

.list {
position: absolute;
width: 481px;
height: 698px;
background: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 469px;
}

.first-one {
  margin:  0 auto;
  height: 49px;
  width: 199px;
  background-color: #358765;
}

.two-parts {
  display: flex;
  justify-content: space-evenly;
  height: 116px;
}

.parts {
  background: #588924;
  width: 153px;
}

.modules {
  display: flex;
  justify-content: center;
}

.module {
  width: 147px;
  height: 147px;
}

.modules .module:nth-child(1) {
  background: #EE2525;
}

.modules .module:nth-child(2) {
  background: #2D4BB5;
}

.modules .module:nth-child(3) {
  background: #EDF111;
}

.last-one {
  margin: 0 auto;
  width: 442px;
  height: 55px;
  background: #C4C4C4;
}