.sprite {
    background-image: url('./img/css_sprites.png');
}

.about {
    width: 54px; height: 48px;
    background-position: -10px -10px;
}

.blog {
    width: 54px; height: 47px;
    background-position: -158px -10px;
}

.contact {
    width: 54px; height: 48px;
    background-position: -84px -10px;
}

.home {
    width: 54px; height: 48px;
    background-position: -10px -78px;
}

.work {
    width: 54px; height: 48px;
    background-position: -84px -78px;
}