.card {
    background-color: aqua;

    &__button {
        border: none;
        padding: 5px 10px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
    }

    &:hover {
        position: relative;
        bottom: 1px;
        left: 1px;
    }

    &--primary {
        background-color: green;
        color: azure;
    }
}